* {
  box-sizing: border-box;
}
body {
  max-width: 900px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p,ul,li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
  margin: 1rem 0;
}
ul {
  margin: 0.8rem 0;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.2rem;
  margin: 0.83rem 0;
}
h1,h2 {
  display: flex;
  align-items: center;
}
h1::after, h2::after {
  content: '';
  border-bottom: 1px solid black;
  flex: 1;
  display: block;
  margin-left: 0.25rem;
}
h3 {
  margin: 0.25rem 0;
  font-size: 1rem;
}
h4 {
  margin: 0.125rem 0 0 0;
  font-weight: normal;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cert_skills__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.education__meta {
  display: flex;
}

.education__meta > div {
  margin-right: 0.125rem;
  border-right: 1px solid black;
  padding-right: 0.25rem;
}
.education__meta > div:last-child {
  border-right: none;
}
.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* @media print {
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  body {
    max-width: 650px;
  }
  .experience > ul {
    margin: 0;
    margin-top: 4px;
  }
  .meta {
    margin-bottom: 0;
  }
} */

@media print {
  html {
    /* transform: scale(0.75); */
    /* transform-origin: top; */
    font-size: 0.9em;
  }
}