* {
  box-sizing: border-box;
}
body {
  max-width: 8.5in;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p,ul,li {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
  margin: 1rem 0;
}
ul {
  margin: 0.8rem 0;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.2rem;
  margin: 0.83rem 0;
}
h1,h2 {
  display: flex;
  align-items: center;
}
h1::after, h2::after {
  content: '';
  border-bottom: 1px solid black;
  flex: 1;
  display: block;
  margin-left: 0.25rem;
}
h3 {
  margin: 0.25rem 0;
  font-size: 1rem;
}
h4 {
  margin: 0.125rem 0 0 0;
  font-weight: normal;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cert_skills__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -3px -6px;
  padding: 0;
}

.cert_skills__list li {
  margin: 3px 6px;
}

.education__meta {
  display: flex;
}


.education__meta > * + * {
  display: list-item;
  margin-left: 21px;
}
.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.experience__date::before {
  content: '\f133';
  font-family: "Font Awesome 5 Free";
  margin-right: 8px;
}

/* @media print {
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  body {
    max-width: 650px;
  }
  .experience > ul {
    margin: 0;
    margin-top: 4px;
  }
  .meta {
    margin-bottom: 0;
  }
} */

@media print {
  html {
    font-size: 0.83em;
  }
}