$fa-font-path: "~font-awesome/fonts/";

$color-primary: red;

$gradient-morpheus-den: linear-gradient(45deg, #30cfd0 0%, #330867 100%);
$gradient-solid-stone: linear-gradient(45deg, #243949 0%, #517fa4 100%);
