$color-primary: #243949;
$color-secondary: #517fa4;

$gradient-solid-stone: linear-gradient(to right, $color-primary 0%, $color-secondary 100%);
$gradient-saint-petersburg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
